# Archivos y carpetas de Python temporales
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Entornos virtuales
env/
.env/
.venv/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Resultados generados
evaluations/*.txt

# Archivos de VSCode
.vscode/

# Dependencias descargadas
*.egg-info/
dist/
build/
